Flask==2.3.2
firebase-admin==6.1.0
requests==2.31.0
gunicorn==20.1.0
Flask-Cors==3.0.10
google-cloud-secret-manager==2.16.0
googlemaps==4.10.0
python-dotenv==1.0.1
pandas==2.2.3
snowflake-connector-python==3.12.4
transformers==4.47.0 
torch==2.5.1
tqdm==4.67.1
sentencepiece==0.0.4
google-auth==2.22.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.155.0
protobuf==5.29.1
regex==2024.11.6



